body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: #e3d0d0;
    text-transform: uppercase ;
    text-shadow: 2px 2px 4px #000000;
	
}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.buffer{
    height: 5rem;
}

.btn {
    font-weight: 500;
    border-radius: 300px;
    box-shadow: 2px 2px 4px #000000;		
    text-transform: uppercase;
}

.btn-sm{
    padding: 1rem 2rem;
}

.btn-primary:hover {
    max-lenght: 100px;

}
